<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.work.mapper.UserDao">
  <insert id="insert" parameterType="com.work.bean.User">
   insert into t_user(*) values(#{id},#{loginname},#{password},#{name});
  </insert>
  <delete id="delete" parameterType="com.work.bean.User">
   delete from t_user
   <where>
    id=#{id}
         <if test="loginname!=null">and loginname=#{ loginname }</if>
         <if test="password!=null">and password=#{ password }</if>
         <if test="name!=null">and name=#{ name }</if>
       </where>
  </delete>
  <update id="update" parameterType="com.work.bean.User">
   update t_user
   <set>
         <if test="id!=null">id=#{ id },</if>
         <if test="loginname!=null">loginname=#{ loginname },</if>
         <if test="password!=null">password=#{ password },</if>
         <if test="name!=null">name=#{ name },</if>
       </set>
   <where>
    id=#{id}
       </where>
  </update>
  <select id="list" resultType="com.work.bean.User" parameterType="com.work.bean.User">
   select * from t_user
   <where>
         <if test="id!=null">and id=#{ id }</if>
         <if test="loginname!=null">and loginname=#{ loginname }</if>
         <if test="password!=null">and password=#{ password }</if>
         <if test="name!=null">and name=#{ name }</if>
       </where>
  </select>
  <select id="listByPage" resultType="com.work.bean.User" parameterType="com.work.bean.User">
   select * from t_user
   <where>
         <if test="id!=null">and id=#{ id }</if>
         <if test="loginname!=null">and loginname=#{ loginname }</if>
         <if test="password!=null">and password=#{ password }</if>
         <if test="name!=null">and name=#{ name }</if>
       </where>
   limit #{offset},#{rows}
  </select>
  <select id="load" resultType="com.work.bean.User" parameterType="com.work.bean.User">
   select * from t_user
   <where>
         <if test="id!=null">and id=#{ id }</if>
         <if test="loginname!=null">and loginname=#{ loginname }</if>
         <if test="password!=null">and password=#{ password }</if>
         <if test="name!=null">and name=#{ name }</if>
       </where>
   limit 0,1
  </select>
  <select id="count" resultType="int" parameterType="com.work.bean.User">
   select count(1) from t_user
   <where>
         <if test="id!=null">and id = #{ id }</if>
         <if test="loginname!=null">and loginname = #{ loginname }</if>
         <if test="password!=null">and password = #{ password }</if>
         <if test="name!=null">and name = #{ name }</if>
       </where>
  </select>
 </mapper>
 